<img src="https://user-images.githubusercontent.com/75151961/142552680-369cf146-fe13-443d-b1ca-a0e0b86c53d7.png" alt="DevBlog Logo" width="70" height="70">

<h3>Hi <%= @user.first_name %>,</h3>,

<p>Thanks for registering at DevBlog!!! To confirm your email, click on the below link:</p>

<p><%= link_to "Activate Account", "#{ENV["FRONT_END_URL_CUSTOM_DOMAIN"]}/registration-confirmation/#{@user.confirm_token}" %></p>