<p>Hi <%= @user.first_name %></p>

<p>Thanks for registering at DevBlog! To confirm your email, click on the below link:</p>

<p><%= link_to "Activate Account", "#{ENV["FRONT_END_URL_CUSTOM_DOMAIN"]}/registration-confirmation/#{@user.confirm_token}" %></p>