<html>
  <head>
    <title>Awesome Title </title>
    <meta name="Description" content="Content from the Ruby on Rails API" >
  </head>
  <body>
    <h1>Hello from the Rails Server</h1>
    <p>Thanks for registering at DevBlog! To confirm your registration, click the URL below.</p>
  </body>
  <main>
    <%= yield %>
  </main>
</html>
