<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>    
    <title>Dynamic Controller Meta Title</title>
    <meta name="Description" content="Dynamic controller meta description" >
  </head>
  <body>
    <%= yield %>
  </body>
</html>